<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-w-screen min-h-screen bg-slate-950 text-sky-50 flex justify-center items-center">
    <span class="text-3xl font-semibold">Hello World</span>
</body>
</html>