<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>No Jobs Found</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="min-w-screen min-h-screen bg-slate-950 text-sky-50 flex flex-col gap-2 justify-center items-center">
    <span class="text-3xl font-semibold">No Jobs Found</span>
    <a
      class="bg-white p-2 text-black transition-colors rounded-md hover:cursor-pointer hover:bg-white/50"
      href="/jobs/create-job"  
    >
      Create a new job
    </a>
  </body>
</html>
